{% extends 'base.html' %}
{% load staticfiles %}

			
		<!-- Header -->
		{% block content %}
    
    <div class="main-wrapper" style="padding-left:300px;">
	    
	    <article class="blog-post px-3 py-5 p-md-5">
		    <div class="container">
			    <header class="blog-post-header">
				    <h2 class="title mb-2">군대, 몸짱이 될 절호의 찬스</h2>
				    <div class="meta mb-3"><span class="date">Published 3 months ago</span><span class="time">5 min read</span><span class="comment"><a href="#">4 comments</a></span></div>
			    </header>
			    
			    
<pre style="font-family:NanumBarunpen;">

*군대에서의 운동법*

​

1. 운동 시작 전 꼭! 스트레칭과 유산소 운동을 하자!

저는 항상 모든 운동 시작 전 스트레칭 5분, 유산소운동(런닝머신, 뜀걸음) 20분을 했습니다. 스트레칭은 운동을 하면서 생기는 부상들을 방지하고 유산소운동은 몸을
 Warm-up시켜주어 땀을 흘리게 해서 혈액순환을 활발하게 하여 신진대사를 촉진하고 신체를 풀어주며 몸의 긴장을 완화시켜 주기 때문에 시작 전 스트레칭과 유산소 
 운동을 해서 약간의 땀을 낸 후에 본격적인 운동을 하는 것이 중요합니다. 또한 체중 감량이 목표라면 유산소 운동을 많이 하면 더 효과적일 것입니다.

​

2. 운동은 상체 하체 나누어서 하루에 한 부위만 하자

보통 웨이트 트레이닝을 하는 사람들은 하루에 모든 부위의 운동을 하지 않고 부위별로 나누어서 합니다. 여기서 부위란 상체 혹은 하체 등 신체 부위를 의미합니다.
 이렇게 나누는 것을 분할이라 하는데 보통 2분할 혹은 3분할로 나누는 것이 대표적입니다. 2분할로 나눈다는 말은 상체, 하체 이렇게 나누어서 월요일은 상체, 
 화요일은 하체, 다시 수요일 상체, 목요일 하체 이런 식으로 하는 것을 말하며 3분할은 이두,삼두/가슴,복근/하체 이런 식으로 세 부위를 만드는 것을 말합니다.
  대부분의 웨이트 트레이닝을 하는 사람들이 이렇게 부위를 나누어 운동하는 이유는 모든 일에 휴식이 필요하듯이 운동에도 휴식이 필요하기 때문입니다. 
  일만 하고 쉬지 않으면 장기적으로 일을 할 수 없는 것처럼 근육도 같은 부위의 운동을 계속 하게 되면 근육이 지치게 되고 이렇게 되면 더이상 자라지 않는다는
   연구결과가 있습니다. 그렇기 때문에 부위를 나누어 하루에 한 부위만 하게 되면 예를 들어 2분할로 운동을 하기로 했다면 상체를 한 다음 날 하체를 하기 때문에
상체가 쉬게 되고 그 다음날은 하체가 쉬게 되는 등 번갈아 가면서 운동을 하며 근육을 쉴 수 있게 해줄 수 있을 것 입니다. 그리고 이 방법은 헬스를 전문적으로
하는 사람들도 사용하는 방법입니다.

​

3. 근력운동은 짧고 굵게

저는 오랜 기간 운동을 해 왔음에도 불구하고 운동을 오래 하는 것을 좋아하지 않습니다. 보통 헬스장에서 많이 볼 수 있는 사람들은 한 세트하고 한 5분 쉬고 또 
한 세트 하고 쉬거나 하루 하고 한 이틀 쉬는 등 운동하는 시간은 길지만 막상 운동량을 보면 결코 효율적이지 않습니다. 그래서 저는 근력운동은 딱 40분만 
하기로 정했습니다. 우리의 목표가 보디빌더가 되는 것이 아니라면 하루에 이렇게 1시간씩만 꾸준히 운동해 도 남부럽지 않은 몸을 만들 수 있을 것입니다.
 이렇게 짧고 굵게 운동 하는 것이 군대에서의 시간도 아낄 수 있을 뿐만 아니라 매우 효율적입니다. 운동하는 시간에는 다른 일을 하지 말고 딱 운동만
  해야 합니다. 가끔 헬스장에서 잡담 하고 떠들고 그냥 놀러 내려온 사람들이 있었는데 이를 볼 때마다 한편으로는 안타까웠습니다. 짧고 굵게 시간을 
  절약해서 운동을 하기 위해 헬스장에 가기 전에 미리 오늘은 어느 부위를 어떻게 해야겠다는 것을 생각하고 가는 것도 좋은 방법입니다.

​

4. 운동 후에는 꼭 스트레칭으로 몸을 풀어주자

운동 전에 하는 스트레칭도 중요하지만 운동 후 하는 스트레칭 또한 그만큼 중요하다고 합니다. 운동을 마무리했으면 한 5분정도 그 부위를 마사지 해주고 기본적인
 스트레칭을 해서 몸을 풀어주도록 합시다. 운동 후 스트레칭 하는 것이 근육을 키우는데 도움이 된다는 연구결과도 있습니다. 또 운동을 하면서 잃은 수분을 채우기
  위해 물을 많이 마시는 것도 근육 향상에 도움이 된다고 합니다.

​

​

군대가 좋은 점은 모르는 것이 있으면 주위에 물어볼 수 있는 사람들이 많다는 것 입니다. 체력단련장에 가면 아마 운동하는 사람들이 꽤 많이 있을 것입니다.
 몸이 좋은 사람도 있을 것이고 그 중에 자신의 부대 선임도 있을 것입니다. 기구 사용법이나 운동 방법을 모를 때 부끄러워하지 말고 물어보면 친절하게 대답해
  줄 것이고 아마 잘 알려줄 것이며 이렇게 배우면서 선임들과 더 친해질 수도 있을 것 입니다. 저도 이렇게 해서 몇몇 우리 후임들에게 운동을 알려 주고 
  이들과 친해질 수 있었습니다.

​

군대에서 운동을 시작하기만 하면 누구든지 몸짱이 될 수 있습니다. 1년 9개월이란 시간은 결코 짧지 않은 시간이기 때문입니다. 
이 기간동안 꾸준히 운동을 하고 관리를 한다면 전역할 때쯤이 되면 남부럽지 않은 몸을 만들 수 있을 것 입니다. 중요한 것은 ‘꾸준히’운동하는 것입니다.
 운동날을 정해서 정해진 운동 날에는 ‘오늘은 좀 피곤하니까 내일 해야지’라는 안일한 생각을 갖지 말고 운동을 하기로 계획된 날에는 꼭 운동을 할 수 있도록 합시다.






출처 - https://m.blog.naver.com/PostView.nhn?blogId=sjw608&logNo=221139883988&proxyReferer=https%3A%2F%2Fwww.google.com%2F
</pre>
				    
				    
				    
				</div><!--//blog-comments-section-->
				
		    </div><!--//container-->
	    </article>
	    


    
       

	{% endblock %}

