{% extends 'base.html' %}
{% load staticfiles %}

			
		<!-- Header -->
		{% block content %}
    
    <div class="main-wrapper" style="padding-left:300px;">
	    
	    <article class="blog-post px-3 py-5 p-md-5">
		    <div class="container">
			    <header class="blog-post-header">
				    <h2 class="title mb-2">군대에서 공부할 수 있을까?</h2>
				    <div class="meta mb-3"><span class="date">Published 3 months ago</span><span class="time">5 min read</span><span class="comment"><a href="#">4 comments</a></span></div>
			    </header>
			    
			    
<pre style="font-family:NanumBarunpen;">가끔씩 인터넷을 눈팅하다 보면, '군대에서 공부 할 수 있나요' '군대에서 수능 치러 갈 수 있나요' 같은 글 들을 많이 본다.



군대에서 수능을 친 경험자이자, 군대에서 공부를 한 경험자(수능공부가 아닌 다른 공부)로써 두 질문에 대해 답 해 보고자 한다.



I.군대에서 공부를 할 수 있는가?



당연히 군대에서 공부 할 수 있고, 군대에서도 장려한다. 물론 이런 질문을 하는 사람들이 정말 '군대에 가면 공부를 할 수 있느냐 못하느냐'가 궁금해서 질문을 한 것은 아닐 것이다. 주로 사람들이 궁금해 하는건 여건이 될 테니, 여건에 대해서 좀 적어보겠다.



일단 군대, 특히 육군의 경우는 이 '공부여건' 에 대해 할 수 있는 말은 '케바케' 가 가장 좋은 답이다. 부조리가 있는 부대라면 공부를 하기 힘들 것이고, 부조리가 없는 곳이라고 하더라도 자대 분위기, 자대 시설, 자대 규칙 등에 의해서 여건이 좌우된다.



나의 경우는 철원의 부대로 왔고, 내가 있는 부대는 전체적으로 부조리가 거의 없는 편이다. 그러나 내 친구는 인천쪽으로 갔고, 내 친구가 있던 부대는 부조리가 좀 있는 편이어서, 상병이 되어서야 개인정비 시간에 개인정비를 할 수 있었다고 한다. 계급이 낮을때는 주로 선임빨래, 작업, 청소를 하느라 개인정비(휴식) 시간을 활용 하기 힘들었다고 한다. 주로 전방이 부조리가 없고, 후방이 부조리가 있다는 인식이 있지만 나도 전방이고, 내 친구도 전방이었다. 결국 부대 분위기 따라 다르다는 이야기이다. 그러나 대체적으로 내 친구와 같이 부조리가 강한 부대는 사라지고 있는 추세이다.



부조리 여부 다음으로 고려 할 점은, 개인정비시간, 근무와 군기상태이다. 하루에 받는 개인정비 시간은 약 2시간 정도 된다. 여기에 야간연등을 포함하면 대략 3~4시간 정도를 하루에 순수하게 공부로 투자 할 수 있지만, 현실적으로 하루 평균 1시간을 공부하는 것도 대단하다고 생각한다. 공부 여건을 아무리 보장해줘도, 일과시간에 힘들게 일과하고, 얼마 되지 않는 개인정비 시간을 공부로 보낸다는 것은 강한 정신력과 체력이 없이는 힘들며, 보통 개인정비 시간에는 동기나 친한선후임끼리 모여서 PX냉동을 먹는다, 같이 운동한다, 같이 노래방을 간다 등 전우들끼리 하는 활동이 많기에, 그 시간에 공부를 하는 것은 관계를 생각하면 생각보다 어려운 일이다. 그러나 강력한 정신력으로 3시간정도의 공부시간을 확보한다 하더라도, 근무라는 변수가 있다. 보통 나같은 경우는 하루에 근무를 야간을 포함해 4~6시간 정도를 매일 서고 있고, 당직근무를 서는 경우는 1주일에 가용한 날이 3~4일 정도 밖에 안 될 수도 있다. 근무시간을 항상 개인정비시간에 서는것은 아니지만, 부대의 인원 여건과 근무 여건에 의해 공부하는 데에 큰 애로사항이 있을 수 있다. 나 같은 경우도 근무여건과 훈련으로 인해서 제대로 공부를 한 날은 보통 1주일에 3~4일 정도 밖에 안되었다.



하고 싶은 말은, 부대따라서 공부 여건은 다르다. 그러나, 지금 수능 성적, 지금 나의 상태를 그저 '군대에서 공부 하면 되겠지,' 라는 생각으로 넘기기에는 군대의 공부 여건은 그렇게 안정적이지 않다. 인생을 걸 만한 수준은 아니라는 것이다.



개인적으로 추천하는건, 수능같은 인생을 크게 바꾸는 시험을, 굳이 군대에서 도전하려는 생각 보다는, 한국사검정능력시험, KBS한국어능력시험, 한자자격증, 토익등의 자격증을 군대에서 도전하는 것이 좀 더 낫다고 생각한다. 저런 시험들은 떨어지더라도 그렇게 타격이 크지 않기 때문이다.



II, 공부를 한다면 어떤 식으로 하는가?



당연히 대부분의 공부는 독학으로 공부하게 된다. 가끔씩 동아리시간(?) 등의 시간이 있어서 공부를 다른 전우들과 함께 할 수 있는 기회는 있지만, 현실적으로 다른 전우들의 도움을 받는것은 제한적이다. 인터넷강의를 많이 생각하지만, 시간이 부족한 편이기도 하며, 효율이 높지 않다고 생각한다. 보통 듣는 인터넷 강의는 무료 인터넷강의를 듣는 경우가 대부분일 텐데, EBS 강의가 있다지만 그렇게 양질의 강의는 존재하지 않기 때문이다.



나같은 경우는 사지방에서 인터넷서핑을 하면서 틈틈히 문제를 푸는 식으로 공부 했으며, 인터넷 강의는 사용하지 않고 그저 기출문제만 열심히 풀며 공부했다. 수능과 한국사능력검정을 처리했으며, 2월달 쯤에 KBS한국어 능력 평가도 조지지 않을까 싶다. 대충 KBS한국어도 공부하는 중이니 포함하면, 3개의 시험을 오직 기출문제를 통해 공부를 했다. 아마 대부분의 다른 장병들도 기출문제 위주로 공부를 하는것이 가장 효율적일 것 이라고 생각한다.



군대에서는 야간 연등이라는 문화(?) 가 있어서 야간시간에 공부를 할 수도 있다. 다만 하루에 잘 수 있는 시간은 8시간이고, 그중 2시간은 근무를 서기에 ( 근무 여건에 따라 다르다. ) 거기에 1시간 30분 정도를 더 안자고 연등을 한다는 것은 굉장한 노력이 필요하다.





III. 수능 신청하기.



이 파트가 생각보다 가장 복잡하다. 나 같은 경우는 수능 신청하는데에 정말 엄청난 어려움을 겪었다. 수능 접수할때 휴가를 한번 나가야 하고, 수능 볼때 한번 더 나가야 한다. 또 수능을 잘 봤다면 원서접수 및 면접 등으로 한번 더 나갈 소요가 있을 수 있다. 내가 원하는 날에 훈련이라도 잡혀 있으면 곤란하다. 이는 부대 재량이다. 부대에 잘 보이는것이 중요하다. 수능을 볼때 필요한 준비물은 부대에서 직접 구해와야 하고, 그걸 모르고 휴가만 나갔다가 복귀하는 일도 있었다. 현역복무증명서였나.. 인사과에서 때야하는 물건이 있는뎅.. 그리고 수능을 보는 주에 큰 훈련이 잡혀있었는데, 다행히 지휘관 재량으로 휴가를 나갈 수 있었다. 그러나 비슷한 경우에 많은 장병들이 휴가를 못 나가고는 한다. 이는 지휘관 재량이므로 부대에서 이쁘게 행동을 하도록 하자. ( 비록 나는 그렇게 이쁘게 행동을 안했지만, 좋은 지휘관을 만나서 본 케이스지만.. )</pre>



				</div><!--//blog-comments-section-->
				
		    </div><!--//container-->
	    </article>
	    


    
       

	{% endblock %}

