{% extends 'base.html' %}
{% load staticfiles %}

			
		<!-- Header -->
		{% block content %}
    
    <div class="main-wrapper" style="padding-left:300px;">
	    
	    <article class="blog-post px-3 py-5 p-md-5">
		    <div class="container">
			    <header class="blog-post-header">
				    <h2 class="title mb-2">군대에서 수능공부를 생각하는 분들께</h2>
				    <div class="meta mb-3"><span class="date">Published 3 months ago</span><span class="time">5 min read</span><span class="comment"><a href="#">4 comments</a></span></div>
			    </header>
			    
			    
				    <pre style="font-family:NanumBarunpen;">안녕하세요. 올해 4월 전역 예정이고 동시에 수능을 준비중인 군인입니다.


N수동 글을 보던 중에 군대에서 수능 공부를 하는 것이 어떤지에 대한 질문이 있기에, 

저가 부대에서 겪고 느낀 것을 토대로 제가 생각하는 바를 감히 적어봅니다.


결론부터 말하자면, 군대는 공부를 하러 가는 곳이 아닙니다. 

당연한 말이지만 재수를 결심했다면 군대가 아닌 재수 학원 혹은 독학을 선택 하는 게 낫습니다.



하지만 여러 가지 이유로 군 복무를 하면서 수능 공부를 하실 분이 있다고 생각합니다. 

그러한 분들에게 저의 경험이 도움이 될까 하여 최대한 객관적으로 정보를 적어봅니다.





----------------------------------------------------------------------------------



1) 최악의 경우, 군대에서 제대로 공부하지 못할 것까지 감안하라.


당연한 말이겠지만, 군대는 개인의 발전과 공부가 목표가 아니라 

나라를 지키기 위하여 오는 곳입니다.

때문에 군대에서 수능 공부를 하고자 할 경우에, 

공부할 여건이 갖춰지지 없을 경우까지 고려해야 합니다.

일반 부대는 오후 5시 30분부터 8시 30분까지 개인정비 & 자유시간입니다. (3시간)

그 외의 짜투리 시간과 주말과 쉬는 날을 포함하면 

개인의 시간은 상당히 늘어납니다. 

하지만 훈련 기간이라든지, 기타 그 외의 계절작업

(4계절 제초, 제방, 낙엽쓸기, 제설)과 대청소, 예정되지 않은 검열이나 

훈련, 점검, 얼차려 등을 포함하면 자유시간은 줄어듭니다.

자유시간이 확실하게 확보라도 되면 그래도 괜찮은데, 

그 외에도 군대에는 변수가 너무 많습니다. 

정말 힘든 자대로 배치가 되어 개인 시간이 한 두시간, 

아니 아예 없을 수도 있습니다. 

밤 10시면 바로 취침하는 부대일 수도 있습니다. 

정말 바쁘고 힘들어서 공부는 커녕 휴식할 시간조차 부족한 부대일 수도 있습니다.


최악의 경우 자대에서 수능 공부할 여건이 안 될 수도 있는 걸 고려해야 합니다.


2) 학생 신분일 때의 공부와 군인 신분일 때의 공부는 다르다.

학생 때 목표는 공부입니다. 학교 가서 배우는 것도 공부고,

자습하는 내용도 공부입니다. 때문에 공부에 대한 능률이 높습니다.

하지만, 군인은 얘기가 다릅니다. 위에서도 얘기했지만 

군인의 임무는 나라와 국민들을 지키는 것입니다. 

때문에 대부분의 시간을 공부와는 관련 없는 활동을 하게 됩니다. 

점호, 체조, 훈련 등등.. 

학생 때처럼 학교에서도 공부하고, 학원이나 집, 독서실에서도 자습하는 환경과는 다릅니다.


조금 더 얘기하자면, 군인 신분으로 공부를 하는 것은 

군인이라는 사회적 임무와 수능 준비라는 개인적 목표 

두 가지 토끼를 다 잡아야 하는 것과 마찬가지입니다.

군인의 임무는 강제적입니다. 반드시 해야만 합니다. 

좋든 싫든, 스트레스를 받든 받지 않든 일과시간에는 

무조건 자신의 일을 해야 합니다. 무조건 잡아야 하는 토끼입니다. 

하지만 공부는? 하루의 일과를 마치고 남은 개인정비 & 자유시간에 해야 합니다. 

그것은 강제가 아니기 때문에, 자신의 의지를 가지고 해나가야 합니다. 

휴식을 필요로 하는 자유시간(일과이후)에 공부를 하는 것은 힘든 일입니다.


업무가 끝난 자유 시간에는 유혹거리가 많습니다. 

힘든 업무를 해 심력을 많이 소모할수록 보상심리로 공부 이외에 

다른 걸 하고 싶게 됩니다. TV, 사지방(컴퓨터), 판타지 소설, 드라마, 축구 등등...


수능 시험을 잘 치르겠다는 목표, 목표 실현을 위해 

끊임없이 공부하겠다는 마음과 의지가 정말로 중요합니다. 

그렇지 않다면 보상 심리와 주변의 분위기에 휩쓸려 

이도저도 아니게 시간을 보낼 가능성이 높습니다.


3) 계급이 낮은 이등병, 일병 일 때는 자유시간 일지라도 공부에 전념하기 어렵다.


일과가 모두 끝난 자유시간이라고 할 지라도, 

모두가 자유 시간을 누리는 건 아닙니다. 

군대 은어로 짬찌(계급이 낮은 병사)는 신경써야 할게 너무나도 많습니다.


이등병과 일등병들은 군대라는 사회에서 

자신이 해야 할 역할들을 차근차근 배워나갑니다. 

적어도 군대 문화에 적응하고 자기가 맡은 일과 보직을 

잘 하기 전까지 부대에서 편하게 공부를 하기는 어렵습니다. 


또 군대라는 상당히 수직적인 계급 문화 특성상, 계급이 낮을 수록 잡무라든지 

청소라든지 많은 역할을 떠맡게 됩니다. 청소, 선임의 심부름(피엑스), 

일과 시간 외에 생기는 잡무들은 막내들이 대부분 합니다. 

뿐만 아니라 공부가 하고 싶더라도 단체로 하는 운동(축구,농구)를 

하게되면 혼자 빠지기에 눈치가 보입니다. 

그리고 선임과 트러블이 생겨 이등병때 선임병의 눈 밖에 나면 

군생활이 힘들어질지도 모릅니다. (선임이 작정하고 트집 잡으면 정말 군생활 눈물납니다.)


역으로 상, 병장이 된다면 공부할 시간이 더 늘어난다고 

볼 수도 있기에 한편으로는 좋은 점도 있습니다.


보통은 상병정도 되고 아래 후임들이 들어오면 공부하기가 편해지고, 

상꺽(상병 5호봉)부터는 실세로 청소나 잡무로부터 거의 해방되어 

공부하기가 한결 나아집니다.



4) 1년 9개월의 기간이면 지금까지 ‘공부’한 내용을 ‘망각’한다는 걸 기억하라.


위의 내용을 읽어본다면 개인의 목표를 위하여 공부할 수 있는 시간은 

그리 많지도 않고, 힘들 거라고 느껴질 거라 생각합니다.

그 시간동안 수능에 필요한 모든 과목을 공부한다는 건 불가능하다고 생각합니다. 
(자신이 언,수,외 모두 뛰어나서 세 과목 모두 감을 유지할 정도로 공부하는게 아니라면요.) 

결국 자신의 약점 과목 언어, 수리, 외국어 중 하나를 집중적으로 하게 될 텐데, 

그렇다면 수험생 때에 비해서 다른 과목은 감이 1년 9개월 동안 떨어질 수 밖에 없습니다.


언어나 외국어 같은 경우에는 그래도 국방일보에서라도 접할 수 있으니 괜찮지만, 

수리 영역 같은 경우 일상 생활에서 쓰지 않기 때문에 

그 망각의 진행이 다른 과목보다 굉장히 빠릅니다. 
(솔직히 말해서, 저는 군 생활 동안 수리문제를 제대로 보지 않았는데, 
수학책을 다시 펼쳤을 때 간단한 인수분해나 지수법칙조차 기억이 가물가물할 정도였습니다.)

수험생 때 몸에 배인 문제를 푸는 감, 암기한 내용들은 

시간이 지날수록 잊혀집니다. 물론 복습하면 

다시 자기 것으로 만들 수 있겠지만, 이 점을 무시해서는 안 됩니다.


------------------------------------------------------------------------------------------------------------------
적다보니 부정적인 요소들만 강조되었습니다.

하지만 자신이 관리만 잘 한다면 1년 9개월동안 

공부할 수 있는 시간을 가진다는 건 매력적인 게 분명합니다.



무엇보다 군대는 자신의 인생의 계획과 목표를 설정해 보고

나 자신과 대화하고 생각하면서 육체적이나 정신적으로 

성숙해질 수 있는 시간이라고 생각합니다.


다시 수능 공부를 하고 수능을 치를 때 

내가 얻을 수 있는 건 무엇인가에 대한 답도 찾아볼 시간이 되고요.


그러한 생각과 물음에 대한 답이 

수능 공부에 지속해나가는데 있어서 도움이 될 거라 생각합니다.



부디 도움이 되었으면 좋겠습니다.               .......출처 - https://orbi.kr/0001134856
					</pre>
				    
				    
				    
				</div><!--//blog-comments-section-->
				
		    </div><!--//container-->
	    </article>
	    


    
       

	{% endblock %}

