{% extends 'base.html' %}
{% load staticfiles %}

			
		<!-- Header -->
		{% block content %}
    
    <div class="main-wrapper" style="padding-left:300px;">
	    
	    <article class="blog-post px-3 py-5 p-md-5">
		    <div class="container">
			    <header class="blog-post-header">
				    <h2 class="title mb-2">군대 2년, 버리는 시간 아니지말입니다.</h2>
				    <div class="meta mb-3"><span class="date">Published 3 months ago</span><span class="time">5 min read</span><span class="comment"><a href="#">4 comments</a></span></div>
			    </header>
			    
			    
				    <pre style="font-family:NanumBarunpen;">
군대에서 독서하기
나의 군 복무 시절은 세 마디로 나뉜다. 책을 못 읽은 시기. 대강 읽은 시기. 전투적으로 읽은 시기. 이른바 ‘짬’이 없던 때는 책을 펼치지 못했다. 시키는 일을 끝내면 새로운 일을
 시작해야 했기 때문이다. 계급이 오르자 조금씩 책을 볼 짬이 났다. 상병이 되고 ‘고무신’을 잃어버렸다. 이때부터 전투적인 책 읽기를 시작했다. 통장 잔고에 월급이 들어오는 족족
  인터넷 서점으로 빠져나갔다. 어디서 읽고 어떻게 사냐고? 군부대 안에 도서관이 있다. 팻말에는 ‘기지도서관’이라 쓰여 있는데, 멀찍이 기지 외곽에 동그마니 서 있다. 내 일터가
항공관제탑이었기 때문에 2, 3일에 한번꼴로 밤샘 근무를 했다. 그 덕에 다음날 낮은 휴식 시간. 기지도서관은 시간 보내기에 딱 맞는 장소였다. 군부대 내 사이버지식정보방, 일명
‘사지방’을 일주일에 한두번 찾았다. 뉴스를 읽거나 인터넷 서점에서 책을 주문하기 위해서다. 책 구매에만 한달에 오만원가량을 썼다. 병사 월급의 절반을 꼬박꼬박 쓴 셈이다.
알아둬야 할 한 가지! 군부대에서 택배는 검열을 받아야 한다. 읽어도 되는 책인지 아닌지 담당 부사관이 판단한다. 기준이 무엇인지는 끝내 알아내지 못하고 제대했다.
아무튼 책이 배달되면 행정업무를 보던 후임 병사가 부사관에게 내보이고 나에게 가져다주었다. 주로 역사나 철학 관련 책을 읽었다. 니체의 책이 군 생활에 도움을 주었다.
에릭 홉스봄의 책들도 기억에 남는다. ‘시대’ 4부작(<혁명의 시대> <자본의 시대> <제국의 시대> <극단의 시대>)을 읽었다. 읽기만 한 것은 아니었다.
좋은 구절은 수첩에 옮겨 적었다. 그러다 든 생각을 글로 정리하곤 했다. 일종의 독서일기였다. – H대 S군(공군)

군대에서 자격증 취득하기
의경에 들어오면서 보장되는 ‘노터치 타임’(no touch time)을 어떻게 활용할까 고민을 많이 했다. 23살, 적지 않은 나이에 입대했다. 사회로 조금씩 나가는 친구들과 선후배들을 
보면서 21개월 동안 발전해야겠다고 마음먹었다. 막내 시절부터 선임들이 자기계발실에 들어가 공부하는 모습도 많이 봐왔다. 자격증을 취득하면 급수나 난이도에 따라 받을 수 있는
 특별외박(특박)이 주어진다. 말 그대로 ‘노력한 만큼’ 얻을 수 있는 셈이었다.
한국사 1급, 워드프로세스 1급, 1종 대형면허, 한자 2급 , 컴퓨터활용 2급, 심리상담사, ITQ한글, 토익. 내가 군대에서 취득한 자격증 목록이다. 걸린 시간은 자대전입(6월3일) 해서
 막내로 적응 기간을 지나고 7월부터 시작해서 한달 정도 공부한 후에 한국사 1급을 취득했다. 워드프로세스 1급 같은 경우는 3주, 한자 2급과 컴퓨터활용 2급은 한달 반 정도 걸렸다.
  대형면허는 경찰청에서 교육하는 ‘운전교육대’에서 두달 과정으로 자격을 취득했다. 토익은 단어부터 토익책을 보면서 길게 잡고 공부했다. 심리상담사 자격증은 인강만 들으면 쉽게
   취득할 수 있다. 그렇게 자격증을 준비하다 보니 꿈도 생겼다. 지금 제대를 약 8개월 앞두고 있는 시점에서 경찰공무원에 뜻을 두고 경찰영어, 한국사를 공부하고 있다. 시간 여유가
된다면 법과목도 공부할 예정이다. 제대 후에는 학원을 다니면서 순경 시험을 준비할 생각이다. 내년 9월 중에 의경특채전형으로 응시할 계획이다. – M대 C군

병영문학상 도전
부대에서 병영문학상 공지를 들었다. 군 관련 잡지 같은 데도 종종 작품 공고가 올라오곤 한다. 수상하면 포상도 주어지니 밑지진 않겠다 싶었다. 평소 글을 쓰는 편은 아니었지만 
이참에 내 잠재력을 알아볼 수도 있고. 당시 시를 써서 냈는데, 그 과정에서 뭘 쓴다는 게 참 어렵다는 걸 깨달았다. 전역 후 복학해서 글쓰기를 제대로 배워보고 싶은 욕심도 생겼다.
 군대에서는 늘 결핍감을 느끼게 된다. 그래서 배움의 욕구가 더 컸던 것 같다. 시를 쓰면서 관련된 책도 찾아 보았다. 무언가 몰입할 게 있으니까 시간도 잘 갔다. – K대 H군(공군)

3D 작업(막노동) 익히기
개인적으로 군대에서 예초기 작업이나 망치질, 용접 작업이 있을 때 앞장서서 하곤 했다. 사회에선 쉽게 접할 수 없는 것들이니까 배워보고 싶은 생각이 강했다. 한번쯤은 험한 일을 
해보고 싶었고, 육체노동을 배워두면 언젠가는 써먹을 데가 있을 거라는 생각도 했다. 21개월 동안 운동장 다섯개에 해당하는 풀을 깎았고, 박은 못만 1천개는 될 테고, 용접한 철골을
 이으면 한강 다리 하나는 나올 것이다. 그 결과 26살 치곤 압도적인 작업 실력을 갖게 됐고, 방학 때 유사한 아르바이트를 다니면서 쏠쏠히 용돈도 벌었다. 또한 내무반 생활에서
  사회생활의 생리를 터득하기도 했다. – S대 C군(육군)

군대 월급으로 후원하기
때는 정확히 2012년 10월, 신병위로휴가를 나갔다. ‘이것저것 다 해야지’ 따위를 생각하며 나왔지만 친구들은 다 군대에 가고 없고, 여자친구도 없고, 돈은 많아서(?) 혼자 밥이나 
먹으러 광화문으로 향했다. 그때 웬 빨간 옷 입은 예쁜 누나가 간절한 눈빛으로 날 붙잡았다. ‘헌팅인가?’ 내심 기대했는데 ‘Save the children’(후원 문의 02-6900-4400)이란 
단체에 후원해달라는 내용이었다. 군대에서 월급 쓸 일도 없고, 그냥 사인했다. 그날로 아프리카 소녀 ‘S’와의 인연은 시작됐다. 눈동자에 힘이 없는 사진 한장을 달랑 보내온 아이는
 매달 피 같은 내 돈 3만원을 가져갔다. 사실 아주 가끔 후회하곤 했다. 그런데 전역 후 얼마 지나지 않아 S가 사진을 보내왔다. 키가 조금은 큰 듯했다. 선생님이 되고 싶다는 녀석의
  꿈이 꼭 이뤄지길 바란다. – I대 S군(육군)

군대에서 학점 따기
군 생활을 하다 보니 홀로 정체된 것 같았다. 사회에서 그럴듯한 결과물을 내놓는 친구들과 자신을 비교하면서 열등감을 느꼈다. 환경에 대한 핑계를 대며 스스로 합리화시키지 않고,
 미래에 도움이 될 수 있는 활동을 찾아야 한다고 생각했다. 부대 내에 대학생 신분이었던 병사들을 대상으로 한 군내 온라인 원격강좌가 있다는 걸 알고 신청했다.
  일과 후에 ‘사이버지식정보방’에 들러 공부를 했다. 우월하진 않지만 만족스러운 성적으로 학점을 이수했다. 군대에서 학점 따는 법은 학교마다 다르다. 
  학교 자체에서 인터넷 강의 기관을 가지고 있는 경우에는 대학에 신청하여 수업을 들을 수 있다. 인터넷 강의 기관이 없는 학교의 경우에는 타 기관에서 인증을 받아서 대리로 
  강의를 제공해주고 학교에서 학점을 주기도 한다. 최대 3학점, 학교별로 전공 6학점까지 들을 수 있다. – M대 J군(공군)


출처 - http://www.campuscine21.com/?p=33186
</pre>
				    
				    
				    
				</div><!--//blog-comments-section-->
				
		    </div><!--//container-->
	    </article>
	    


    
       

	{% endblock %}

