<div class="container">
        <h1>{{ notice.title }}</h1>
        <p>{{ notice.pub_date }}</p>
        <p>작성자 : {{ notice.tnUser}} 조회수 : {{ notice.postHit }}</p>
        <p>{{ notice.body }}</p>
        <input type="hidden" value="{{ notice.update_counter }}">
        <a href="{% url 'notice' %}">돌아가기</a>
        <a href="{% url 'noticeupdate' notice.id %}"><input type="button" value="수정하기"></a>
        <a href="{% url 'noticedelete' notice.id %}"><input type='button' value="삭제하기"></a>

        <!-- 좋아요 버튼 구현 실패 -->
        <!-- <form action="" method="get">

                <input type="hidden" name = 'like' value="{{notice.user}}">
                <button type="submit">좋아요</button>
            
        </form> -->
    
        <hr>
        <div class="comment">
             <form action="{% url 'noticecommentcreate' notice_id=notice.id %}" method="POST"> <!-- path convertor로 보내주기 위해서 pci를 사용한다. -->
                {% csrf_token %}
                <input type="text" name="content" placeholder="댓글을 작성해 주세요.">
                <input type="submit" value="작성하기">
            </form>
        </div>
        <hr>
        <table class='table'>
            <thead>
                <tr>
                    <th>날짜</th>
                    <th>댓글</th>
                    <th>작성자</th>
            </thead>
        <tbody>
            {% for comment in notice.comments.all %}
            <tr>
                <td>{{ comment.commentdate }}</td>
                <td>{{ comment.commentbody }}</td>
                <td>{{ comment.noticeCommentUser}}</td>
            </tr>
            {% empty %}
                <p>댓글이 없습니다!</p>
            {% endfor %}  
        </tbody>
        </table>
    
    
    
        </div>
    </div>