{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div id="main">
        <div id="wrapper" style="margin-left: 20%;">
          <div class="navbar" style="border-bottom:1px solid #eee;">
              <div class="diary_title" style: font-size:200px;>
                  <h1 style="font-size:40px;">자기계발게시판</h1>
              </div>
              <div class="navbar_data">
                  <ul class="data_ul">
                      <li class="li_1" data-href="https://naver.com" style="margin-left: 700px; max-width:500px;">
                              <a class="navbar_link" href="{% url 'freenew' %}" style="margin-top:50px; margin-right:20px;">글쓰기</a>
                              <a class="navbar_link" href="{% url 'intro_final' %}" style="margin-top:50px;">홈으로</a>
      
                              
                      </li>
            
                     
                  </ul>
            
              </div>
              <br>
              <br>
          </div>
        <br>
        <br>

    <div class="wrap_content"> 
  
      <div id="wrapArticle" class="wrap_article"> 
  
  
      
        <div class="wrap_article_list_common"> 
  
          <ul class="list_article_list_common"> 
  
        <!-- 이 리스트부터 for문돌려야함-->
            
  
                {% if error %}
                <script>
                    alert("{{error}}")
                </script>
            {% endif %}
            
            
                
            
          

                    <!-- Scripts -->
                        
                        <script src="{% static '/js/diary/diary.js' %}"></script>
            </div>

{% for develop in posts %}
 <li class="list_has_image" style="padding: 3%; border-bottom: 1px solid #eee; float:none; max-width:900px;">





            <a href="{% url 'developdetail' develop.id %}" class="link_post"> 
  
                <!-- 이제 안에다가 본문제목, 본문내용 넣을거야 -->
                
                <!--  title_subject 가 제목,,,,  -->
                <!-- tit_sub 가 본문내용, 날짜 입력폼은 직접 백엔드에서 받아와서 넣어야되니 남겨놈 -->
              <strong class="title_subject"> {{ develop.title }}
              </strong>

              <strong class="title_subject" style="padding-left:20px;"> - {{ develop.tnUser }}
              </strong>

<div class="sentence_2" style="display:inline-block;">
              <div class="wrap_sub_content" >
                <em class="tit_sub"> {{ develop.pub_date }}     <span class="hihihi" style="padding-left:400px;">  조회수 - {{ develop.postHit }}           좋아요 - {{ develop.totalLike }}</span>
                </em>
  
                                        </div>

</div>

                                            </a>
                                                </li>
  <!-- 여기까지 for문 돌릴거 -->
  {% endfor %}
  
  
                                                     </ul>
                                                            </div>
                                                                    </div>
                                                                        </div>


                                                                        

                                                                        <div class="demo">
                                                                          <nav class="pagination" style="display:inline;">
                                                                            {% if posts.has_previous %}
                                                                              <a href="?page=1" class="r-link pagination__control pagination__control_prev">First</a>

                                                                            <a href="?page={{posts.previous_page_number}}" class="r-link pagination__control pagination__control_prev" style="margin-left:1300px;">prev</a>
                                                                            {%endif %}
                                                                            
                                                                            {%if posts.has_next%}
                                                                                    <a href="?page={{posts.next_page_number}}" class="r-link pagination__control pagination__control_next">Next</a>
                                                                                    <a href="?page={{posts.paginator.num_pages}}" class="r-link pagination__control pagination__control_next" style="margin-left:1300px;">Last</a>
                                                                                    {%endif%} 
                                                                            <!-- <a href="#0" class="r-link pagination__control pagination__control_next">next</a> -->
                                                                          </nav>
                                                                        </div>
                                                                    </div>
   




{% endblock %}