{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}





<div class="navbar">
  <div class="diary_title">
      <h1>일기장</h1>
  </div>
  <div class="navbar_data">
      <ul class="data_ul">
          <li class="li_1" data-href="https://naver.com">
                  <a class="navbar_link" href="https://naver.com" style="margin-top:50px;">목록보기</a>
          </li>

         
      </ul>

  </div>
</div>
<div id="main">
<div id="wrapper">


  <div class="wrap_content"> 

    <div id="wrapArticle" class="wrap_article"> 


    
      <div class="wrap_article_list_common"> 

        <ul class="list_article_list_common"> 

      <!-- 이 리스트부터 for문돌려야함-->
          <li class="list_has_image"> 

          <a href="https://www.naver.com" class="link_post"> 

              <!-- 이제 안에다가 본문제목, 본문내용 넣을거야 -->
              
              <!--  title_subject 가 제목,,,,  -->
              <!-- tit_sub 가 본문내용, 날짜 입력폼은 직접 백엔드에서 받아와서 넣어야되니 남겨놈 -->
            <strong class="title_subject"> 제목이다dkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
            </strong>
            <div class="wrap_sub_content">
              <em class="tit_sub"> 그래dkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
              </em>

                                      </div>
                                          </a>
                                              </li>
<!-- 여기까지 for문 돌릴거 -->



                                                   </ul>
                                                          </div>
                                                                  </div>
                                                                      </div>
  <!-- 커뮤니티 글 리스트만들 때 - 일단 리스트 글 다 묵은 div(wrap_contents), 그다음 wrap article로 묶어주고(너비설정), 그 다음에 div(wrap_article_list) 넣어주고, 이건 overflow:hidden;, float:left; 설정해주고,그 안에 ul class설정(list_article_list_common)설정(list-style: none;), 이제 그 안에 li data 넣고, class="list_has 어디어디"넣어 거따가 이제 a href class넣는거야 클릭하자마자 이동할 수 있도록, (ex-  a href="" class="link_post") 그 담에 a 태그 내부에 div class 제목,본문 묶어주는 class하나 파주고 그 안에다가 이제 띄바 복잡하네 바로 본문제목 넣어주고, div 하나 더 파서 본문내용 넣어주는거야 ㅇㅋ?  -->








{% endblock %}