{% extends 'base.html' %}
{% load staticfiles %}

			
		<!-- Header -->
		{% block content %}
		
    
		<div class="main-wrapper" style="padding-left: 200px;">
	    
				<article class="blog-post px-3 py-5 p-md-5">
					<div class="container">
						<header class="blog-post-header">
							<h2 class="title mb-2">Why Every Developer Should Have A Blog</h2>
							<div class="meta mb-3"><span class="date">Published 3 months ago</span><span class="time">5 min read</span><span class="comment"><a href="#">4 comments</a></span></div>
						</header>
						
						<div class="blog-post-body">
							<figure class="blog-banner">
								<a href="https://made4dev.com"><img class="img-fluid" src="assets/images/blog/blog-post-banner.jpg" alt="image"></a>
								<figcaption class="mt-2 text-center image-caption">Image Credit: <a href="https://made4dev.com?ref=devblog" target="_blank">made4dev.com (Premium Programming T-shirts)</a></figcaption>
							</figure>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. </p>
							
							<h3 class="mt-5 mb-3">Code Block Example</h3>
							<p>You can get more info at <a href="https://highlightjs.org/" target="_blank">https://highlightjs.org/</a>. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. </p>
							<pre>
								<code>
		function $initHighlight(block, cls) {
		  try {
			if (cls.search(/\bno\-highlight\b/) != -1)
			  return process(block, true, 0x0F) +
					 ` class="${cls}"`;
		  } catch (e) {
			/* handle exception */
		  }
		  for (var i = 0 / 2; i < classes.length; i++) {
			if (checkCondition(classes[i]) === undefined)
			  console.log('undefined');
		  }
		}
		
		export  $initHighlight;
								</code>
							</pre>
							<h3 class="mt-5 mb-3">Typography</h3>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
							<h5 class="my-3">Bullet Points:</h5>
							<ul class="mb-5">
							  <li class="mb-2">Lorem ipsum dolor sit amet consectetuer.</li>
							  <li class="mb-2">Aenean commodo ligula eget dolor.</li>
							  <li class="mb-2">Aenean massa cum sociis natoque penatibus.</li>
							</ul>
							<ol class="mb-5">
							  <li class="mb-2">Lorem ipsum dolor sit amet consectetuer.</li>
							  <li class="mb-2">Aenean commodo ligula eget dolor.</li>
							  <li class="mb-2">Aenean massa cum sociis natoque penatibus.</li>
							</ol>
							<h5 class="my-3">Quote Example:</h5>
							<blockquote class="blockquote m-lg-5 py-3 pl-4 px-lg-5">
								<p class="mb-2">You might not think that programmers are artists, but programming is an extremely creative profession. It's logic-based creativity.</p>
								<footer class="blockquote-footer">John Romero</footer>
							</blockquote>
							
							<h5 class="my-3">Table Example:</h5>
							<table class="table table-striped my-5">
								<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">First</th>
										<th scope="col">Last</th>
										<th scope="col">Handle</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th scope="row">1</th>
										<td>Mark</td>
										<td>Otto</td>
										<td>@mdo</td>
									</tr>
									<tr>
										<th scope="row">2</th>
										<td>Jacob</td>
										<td>Thornton</td>
										<td>@fat</td>
									</tr>
									<tr>
										<th scope="row">3</th>
										<td>Larry</td>
										<td>the Bird</td>
										<td>@twitter</td>
									</tr>
								</tbody>
							</table>
							
				
		
		
							

						
		
						<div class="comments-container">
							<h1>User Comments</h1>
					
							<ul id="comments-list" class="comments-list">
								<li style="	max-width: none; padding-left:0;">
									<div class="comment-main-level">
										<!-- Avatar -->
										<div class="comment-avatar"><img src="http://dummyimage.com/60" alt=""></div>
										<!-- Contenedor del Comentario -->
										<div class="comment-box">
											<div class="comment-head">
												<h6 class="comment-name by-author"><a href="#">User Name</a></h6>
												<span class="posted-time">Posted on 10-FEB-2015 12:00</span>
												<i class="fa fa-reply"></i>
												<i class="fa fa-heart"></i>
											</div>
											<div class="comment-content">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
												<div class="comment-open">
													<a class="btn-reply">
														<i class="fa fa-reply"></i>
													</a>
												</div>
											</div>
											<div class="comment-footer">
												<div class="comment-form">
													<textarea class="form-control" name="" id=""></textarea>
													<div class="pull-right send-button">
														<a class="btn-send">send</a>
													</div>
												</div>
											</div>
										</div>
									</div>
					
									<ul class="comments-list reply-list">
										<li >
					
											<div class="comment-avatar"><img src="http://dummyimage.com/60" alt=""></div>
					
											<div class="comment-box">
												<div class="comment-head">
													<h6 class="comment-name"><a href="#">Lorena Rojero</a></h6>
													<span class="posted-time">Posted on DD-MM-YYYY HH:MM</span>
													<i class="fa fa-reply"></i>
													<i class="fa fa-heart"></i>
												</div>
												<div class="comment-content">
													Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
													<div class="comment-open">
														<a class="btn-reply">
															<i class="fa fa-reply"></i>
														</a>
													</div>
												</div>
												<div class="comment-footer">
												<div class="comment-form">
													<textarea class="form-control" name="" id=""></textarea>
													<div class="pull-right send-button">
														<a class="btn-send">send</a>
													</div>
												</div>
											</div>
											</div>
										</li>
					
										<li>
					
											<div class="comment-avatar"><img src="http://dummyimage.com/60" alt=""></div>
					
											<div class="comment-box">
												<div class="comment-head">
													<h6 class="comment-name by-author"><a href="#">User Name</a></h6>
													<span class="posted-time">Posted on DD-MM-YYYY HH:MM</span>
													<i class="fa fa-reply"></i>
													<i class="fa fa-heart"></i>
												</div>
												<div class="comment-content">
													Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
													<div class="comment-open">
														<a class="btn-reply">
															<i class="fa fa-reply"></i>
														</a>
													</div>
												</div>
												<div class="comment-footer">
												<div class="comment-form">
													<textarea class="form-control" name="" id=""></textarea>
													<div class="pull-right send-button">
														<a class="btn-send">send</a>
													</div>
												</div>
											</div>
											</div>
										</li>
									</ul>
								</li>
					
								<li>
									<div class="comment-main-level">
					
										<div class="comment-avatar"><img src="http://dummyimage.com/60" alt=""></div>
					
										<div class="comment-box">
											<div class="comment-head">
												<h6 class="comment-name"><a href="#">Lorena Rojero</a></h6>
												<span class="posted-time">Posted on DD-MM-YYYY HH:MM</span>
												<i class="fa fa-reply"></i>
												<i class="fa fa-heart"></i>
											</div>
											<div class="comment-content" textarea  name="text" rows="500">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?</textarea>
												<div class="comment-open">
													<a class="btn-reply">
														<i class="fa fa-reply"></i>
													</a>
												</div>
											</div>
											<div class="comment-footer">
												<div class="comment-form">
													<textarea class="form-control" name="" id=""></textarea>
													<div class="pull-right send-button">
														<a class="btn-send">send</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
		
						
		
				</article>

				<script>
							$(document).on('click', '.btn-reply', function(eve){	
			eve.preventDefault();
			$(this).parent().parent().siblings('.comment-footer').slideToggle();
			eve.stopImmediatePropagation();
			console.log($(this));
		});
		
		$(document).on('click', '.btn-send', function(eve){
			var targetObject = $(this).parent().parent().parent().parent().parent();
			//console.log(targetObject);
			var reply_text = $(this).parent().siblings('textarea').val();

			if($.trim(reply_text) == " " || $.trim(reply_text) == ""){
				alert("insert comment");
			} else {
			if($(targetObject).hasClass("comment-main-level"))
				{	
					if($(targetObject).siblings('.comments-list.reply-list')) {
						element_prepend = '<li> <div class="comment-avatar"><img alt="" src="http://dummyimage.com/60"></div><div class="comment-box"> <div class="comment-head"> <h6 class="comment-name"><a href="#">Lorena Rojero</a></h6> <span class="posted-time">Posted on DD-MM-YYYY HH:MM</span> <i class="fa fa-reply"></i> <i class="fa fa-heart"></i> </div> <div class="comment-content">'+ reply_text +' <div class="comment-open"> <a class="btn-reply"> <i class="fa fa-reply"></i> </a> </div> </div> <div class="comment-footer"> <div class="comment-form"> <textarea id="" name="" class="form-control"></textarea> <div class="pull-right send-button"> <a class="btn-send">send</a> </div> </div> </div> </div> </li>';
						 $(targetObject).siblings('.comments-list.reply-list').prepend(element_prepend);
					}
				}
			}	
		});
				</script>
				
		


    
       

	{% endblock %}