<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="{% static '/css/login.css' %}">

</head>
<body>
    <script src="https://code.jquery.com/jquery-2.1.0.min.js" ></script>

    <h1>안녕하세요!!!!!!!!!!!!!!</h1>
    <h1>반갑습니다. 여러분 안녕하세요오오오오오오오오</h1>
    <div class="loginform">
            <img class="user" src="https://upload.wikimedia.org/wikipedia/commons/d/d3/User_Circle.png" alt="user"/>
          <h2>Log in here</h2>
            <form method="POST" action="{% url 'login' %}">
              {% csrf_token %}
              <p>ID</p>
              <input tpye="text" name="username" placeholder="Enter ID"/>
              <p>Password</p>
              <input tpye="password" name="password" placeholder="******"/>
              <input type="submit" value="Log In"/>
              <a href="#">Forget Password?</a>
            </form>
          </div>


<script src="{% static '/js/login.js' %}"></script>

</body>
</html>