<!DOCTYPE html>
{% load staticfiles %}
<html lang="ko-KR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static '/css/pw.css' %}">    
    <title>문서 제목</title>
</head>
<body>
    <div class="pw-wrap">
        <h2>비밀번호 찾기</h2>
        <div class="pw-box">
            <strong>등록한 회원정보 또는 본인인증으로 비밀번호를 찾을 수 있습니다.</strong>
            <ul class="pw-search">
                <li class="info-search">
                    <div class="box">
                        <h3>회원정보를 이용하여 찾기</h3>
                        <span class="txt"> 회원 가입시 등록한 정보를 정확히 입력해주세요.</span>
                        <form action="/" method="POST">
                            <p>
                                <label for="user_id" class="hidden">아이디</label>
                                <input type="text" name="user_id" id="user_id" placeholder="아이디">
                            </p>
                            <p>
                                <label for="user_name" class="hidden">이름</label>
                                <input type="text" name="user_name" id="user_name" placeholder="이름">
                            </p>
                            <p>
                                <label for="user_email" class="hidden">이메일</label>
                                <input type="email" name="user_email" id="user_email" placeholder="이메일">
                            </p>
                            <button type="submit" value="전송" class="btn" >비밀번호 찾기</button>
                        </form>
                    </div><!-- //box -->
                </li><!-- //info-search -->
                <li class="id-search on">
                    <div class="box">
                        <h3>본인인증 수단으로 찾기</h3>
                        <span class="txt">아이디 확인 후 본인인증을 선택해주세요.</span>
                        <form action="/" method="POST">
                            <p class="inp-box">
                                <label for="ipt_id" class="hidden" style="margin: 50px 0;">아이디</label>
                                <input type="text" name="ipt_id" id="ipt_id" style="margin: 60px 0 30px 0;" placeholder="아이디">
                            </p>
                            <button type="button" value="버튼" class="btn-grey">확인</button>
                            <ul class="certifi">
                                <li><a href="#" class="i-pin">아이핀 인증</a></li>
                                <li><a href="#" class="phone on">휴대폰 본인인증</a></li>
                            </ul>
                            <button type="submit" value="전송" class="btn">비밀번호 찾기</button>
                        </form>
                    </div><!-- //box -->
                </li><!-- //id-search -->
            </ul>
            <p class="notice">위 방법으로 아이디를 찾을 수 없는 경우 <a href="#">고객센터</a>에 문의해주세요</p>
        </div><!-- //pw-box -->
    </div><!-- //pw-wrap -->











  
  
  
  
  
  </body>
</html>