{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}


    <link rel="stylesheet" href="{% static '/css/diary/diary.css' %}" >
<style>

        *{
            margin: 0;
            padding: 0;
           
            box-sizing: border-box;
          }
          
          body{
            <!-- background-image: linear-gradient(120deg,#487eb0,#fbc531); -->
            min-height: 100vh;
          }
          
          
          .container{
            max-width: 800px;
      
            padding: 65px
          }
          
          .txtb{
            width: 100%;
            border: none;
            border-bottom: 2px solid #000;
            background: none;
            padding: 10px;
            outline: none;
            font-size: 18px;
          }
          
          h3{
            margin: 10px 0;
          }
          
          .task{
            width: 100%;
            background: rgba(255,255,255,0.5);
            padding: 18px;
            margin: 6px 0;
            overflow: hidden;
          }
          
          .task i{
            float: right;
            margin-left: 20px;
            cursor: pointer;
          }
          
          .comp .task{
            background: rgba(0,0,0,.5);
            color: #fff;
          }
          

          * {
            outline:none;
              border:none;
              margin:0px;
              padding:0px;
              
          }
          body {
        background-color: whitesmoke;  }
          #paper {
              color:black;
              font-size:20px;
              width: 800px;
              margin-top: 70px;
              margin-right: 30px;
          }
          #margin {
              margin-left:-66px;
              margin-bottom:20px;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              -o-user-select: none;
              user-select: none; 
              color: black;
          }
          #text {
              width:800px;
              height: 500px;
              overflow:hidden;
              background-color:#FFF;
              color:  black;
              font-family:Courier, monospace;
              font-weight:normal;
              font-size:15px;
              resize:none;
              line-height:30px;
              padding-left:50px;
              padding-right:50px;
              padding-top:45px;
              padding-bottom:34px;
              <!-- background-image:url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png); -->
              background-repeat:repeat-y, repeat; repeat-r;
              -webkit-border-radius:12px;
              background-image: cover;
        
              border-radius:12px;
              -webkit-box-shadow: 0px 2px 14px #000;
              box-shadow: 0px 2px 14px #000;
              border-top:1px solid #FFF;
              border-bottom:1px solid #FFF;
              margin: 0 auto;

          }
          #title {
              background-color:transparent;
              border-bottom:3px solid #FFF;
              color:#FFF;
              font-size:20px;
              font-family:Courier, monospace;
              height:28px;
              font-weight:bold;
              width:220px;
          }
          #button {
              cursor:pointer;
              margin-top:5px;
              float:right;
              height:40px;
              padding-left:24px;
              padding-right:24px;
              font-family:Arial, Helvetica, sans-serif;
              font-weight:bold;
              font-size:20px;
              color: black;
              text-shadow: 0px -1px 0px #000000;
              -webkit-border-radius:8px;
              border-radius:8px;
              border-top:1px solid #FFF;
              -webkit-box-shadow: 0px 2px 14px #000;
              box-shadow: 0px 2px 14px #000;
              background-color: white;
              background-repeat:repeat-x;
              padding-top: 5px;
          }
          #button:active {
              zoom: 1;
              filter: alpha(opacity=80);
              opacity: 0.8;
          }
          #button:focus {
              zoom: 1;
              filter: alpha(opacity=80);
              opacity: 0.8;
          }
          #wrapper {
              width:800px;
              height:auto;
              margin-top:24px;
              margin-bottom:100px;
              margin: 24px auto 100px;
          }
          .navbar_data{
            position: absolute;
            top: 5%;
            right: 0;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
          }
          .navbar ul li{
            display: inline-block;
            margin-right: 35.5px;
            color: #323232;
            vertical-align: middle;
            cursor: pointer;
          }

          .navbar_link{
              text-decoration: none;
          }
          #title{
              display: inline-block;
              width: 700px;
              margin-left: 15px;
              color: black;
          }
          .diary_title{
              position: absolute;
              margin: 0 auto;
              top: 0%;
              left: 43%;
          }
          #main{
              margin-top: 100px;

          }
         

</style>



<div id ="main">
  



  <!-- 여기 변경내용넣어!!!!!!!!!!!!!!!!!!!!! -->
  <div class="navbar">
    <div class="diary_title">
        <h1 style="font-family: 'KOMACON'; font-weight: normal;">오늘의 계획</h1>
        <p>나만의 하루 계획을 작성해보세요.</p>
    </div>
    <div class="navbar_data">
        <ul class="data_ul">
            <!-- <li class="li_1" data-href="https://naver.com">
                    <a class="navbar_link" href="https://naver.com">목록보기</a>
            </li> -->

           
        </ul>

    </div>
</div>




<div class="main">
    <div class="container">
      <input type="text" class="txtb" name="todoList" placeholder="계획을 적어보세요.">
      <div class="notcomp">
        <h3>Not Completed</h3>
  


      </div>

      <div class="comp">
        <h3>Completed</h3>
      </div>
    </div>

</div>


    <script type="text/javascript">
      $(".txtb").on("keyup",function(e){
        //13  means enter button
        if(e.keyCode == 13 && $(".txtb").val() != ""){
        testText = $('.txtb').val();
        console.log(testText);
        { $.ajax({
          url : "{% url 'sTD' %}",
          data : {
            'todoBody': testText
          },
          datatype:  'json',
          success: function(data){
            alert("저장되었습니다.");
            testText.focus();
            return;
          }

        });
        var task = $("<div class='task'></div>").text($(".txtb").val());
        var del = $("<i class='fas fa-trash-alt'></i>").click(function(){
          var p = $(this).parent();
          p.fadeOut(function(){
            p.remove();
          });
        });

        var check = $("<i class='fas fa-check'></i>").click(function(){
          var p = $(this).parent();
          p.fadeOut(function(){
            $(".comp").append(p);
            p.fadeIn();
          });
          $(this).remove();
        });

          task.append(del,check);
          $(".notcomp").append(task);
            //to clear the input
          $(".txtb").val("");
        }
      }
      });
    </script>

  </body>
</html>

{% endblock %}