<div class="container">
        <input type="hidden" value="{{ free.update_counter }}"> <!-- 조회수 카운터 -->
        <h1>{{ free.title }}</h1>
        <p>작성시간 : {{ free.pub_date }}</p>
        <p>글쓴이 : {{ free.tnUser }}</p>
        <p>추천수 : {{free.totalLike}}</p>
        <p>조회수 : {{ free.postHit }}</p>
        <p>{{ free.body }}</p>
        <p></p>
        <a href="{% url 'free' %}">돌아가기</a>
        <a href="{% url 'freeupdate' free.id %}"><input type="button" value="수정하기"></a>
        <a href="{% url 'freedelete' free.id %}"><input type='button' value="삭제하기"></a>
        <form action="{% url 'freeLike' free_id=free.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="좋아요♥">
        </form>
    
        <hr>
        <div class="comment">
             <form action="{% url 'freecommentcreate' free_id=free.id %}" method="POST"> <!-- path convertor로 보내주기 위해서 pci를 사용한다. -->
                {% csrf_token %}
                <input type="text" name="content" placeholder="댓글을 작성해 주세요.">
                <input type="submit" value="작성하기">
            </form>
        </div>
        <hr>
        <table class='table'>
            <thead>
                <tr>
                    <th>날짜</th>
                    <th>댓글</th>
                    <th>작성자</th>
            </thead>
        <tbody>
            {% for comment in free.comments.all %}
            <tr>
                <td>{{ comment.commentdate|date:"Y-m-d P" }}</td>
                <td>{{ comment.commentbody }}</td>
                <td>{{ comment.tnFreeCommentUser }}</td>
                <td><a href="{% url 'freecommentdelete' comment.id %}"><input type='button' value="삭제하기"></a></td>
            </tr>
            {% empty %}
                <p>댓글이 없습니다!</p>
            {% endfor %}  
        </tbody>
        </table>
    
    
        </div>
    </div>