{% if error %}
<script>
    alert("{{error}},{{tnUser}},{{nowUser}}")
</script>

{% endif %}


<table class='table'>
    <thead>
        <tr>
            <th>No.</th>
            <th>제목</th>
            <th>작성자</th>
            <th>날짜</th>
            <th>조회수</th>
            <th>추천</th>
        </tr>
    </thead>
    <tbody>
            {% for post in posts %}
                <tr>
                <td>{{ post.id }}</td>
                <td><a href="{% url 'freedetail' post.id %}">{{ post.title }}</a></td>
                <td>{{ post.tnUser }}</td>
                <td>{{ post.pub_date|date:"Y-m-d P" }}</td>
                <td>{{ post.postHit }}</td>
                <td>{{ post.totalLike }}</td>
                </tr>
            {% endfor %}
    </tbody>
</table>
<hr>

<form action="{% url 'freelist' %}" method="get">
        <input type="text" name="q" value="{{ q }}">
        <input type="submit" value="검색">
</form>
    

{% if posts.has_previous %}
    <a href="?page=1"><strong>&nbsp;</strong></a>
    <a href="?page={{posts.previous_page_number}}"><strong><&nbsp;&nbsp;</strong></a>
{% endif %}

<span>{{posts.number}}</span>
<span>of</span>
<span>{{posts.paginator.num_pages}}&nbsp;&nbsp;</span>

{% if posts.has_next %}
    <a href="?page={{posts.next_page_number}}"><strong>>&nbsp;</strong></a>
    <a href="?page={{posts.paginator.num_pages}}"><strong>>></strong></a>
{% endif %}

<p><a href="{% url 'freenew' %}">글쓰기</a></p>
<p><a href="{% url 'free' %}">전체글보기</a></p>
<p><a href="{% url 'intro_final' %}">홈으로</a></p>

<!-- 검색 테스트
    {% for a in post_list %}
    <td><a href="{% url 'freedetail' a.id %}">{{ a.title }}</a>
    {% endfor %} -->